body {
  background-image: url('books.jpeg');
  background-size: cover;
  width: 100%;
}

.left {
    margin-left: 10px;
}

#output {
  max-height: 60vh;
  overflow: scroll;
  background-color: rgba(0,0,0,0.2);
  text-align: left;
  border-radius: 5px;
}

#right {
  margin-left: 10px;
}

#left-nav {
  margin-left: 1.32rem;
}

.gap {
  margin-left: 10px;
}

#output .btn{
  color:white;
}

.output-header {
  background-color: rgba(0,0,0,0.1);
  margin-: 10px;
}

ul {
  border-radius: 9px;
}

img {
  border-radius: 9px;
}

.nav-header {
  text-align: left;
  font-size: 5rem;
}

.subheader{
  text-align: left;
  color: white;
  text-shadow: 2px 2px #1b1b1b;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-shadow: 2px 2px #1b1b1b;
}

nav a+a {
  margin-left: .4em;
}

p {
  color:white;
  text-shadow: 2px 2px #1b1b1b;
  margin-top: 5px;
}

.centered{
  text-align: center;
}

.answer, .answer1, .answer2, .answer3  {
  margin-top: 5vh;
  margin-left: 1vh;
  color:white;
}

.q, .q1, .q2, .q3 {
  margin-top: 3vh;
}

/* -- Star Ratings --*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#header {
  float:right;
  text-align: right;
}
